PayrollSystem/.vs/PayrollSystem/FileContentIndex/eb668bdc-02a0-42ab-a302-fe2e4af7bca5.vsidx
PayrollSystem/PayrollSystem/obj/Debug/net8.0/PayrollSystem.AssemblyInfo.cs
PayrollSystem/PayrollSystem/obj/Debug/net8.0/PayrollSystem.AssemblyInfoInputs.cache
PayrollSystem/PayrollSystem/obj/Debug/net8.0/PayrollSystem.assets.cache
PayrollSystem/PayrollSystem/obj/PayrollSystem.csproj.nuget.dgspec.json
PayrollSystem/PayrollSystem/obj/PayrollSystem.csproj.nuget.g.props
PayrollSystem/PayrollSystem/obj/PayrollSystem.csproj.nuget.g.targets
PayrollSystem/PayrollSystem/obj/project.assets.json
PayrollSystem/PayrollSystem/obj/project.nuget.cache
PayrollSystem/PayrollSystem/obj/Debug/net8.0/PayrollSystem.AssemblyInfo.cs
PayrollSystem/PayrollSystem/obj/Debug/net8.0/PayrollSystem.AssemblyInfoInputs.cache
PayrollSystem/PayrollSystem/obj/Debug/net8.0/PayrollSystem.AssemblyInfoInputs.cache
PayrollSystem/PayrollSystem/obj/Debug/net8.0/PayrollSystem.AssemblyInfo.cs
.vs/
